{{define "partial:footer"}}
<footer class="footer">
    <div class="row g-0 justify-content-between fs--1 mt-4 mb-3">
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Deilora <span class="d-none d-sm-inline-block">| </span><br class="d-sm-none" /> {{now | formatTime "2006"}} &copy; <a href="https://www.v8tix.com" target="_blank">V8TIX</a></p>
        </div>
        <div class="col-12 col-sm-auto text-center">
            <p class="mb-0 text-600">Version: {{.Version}}</p>
        </div>
    </div>
</footer>
{{end}}


