{{define "page:title"}}Home{{end}}
{{define "page:main"}}
<!-- ===============================================-->
<!--    Main Content-->
<!-- ===============================================-->
<main class="main" id="top">
    <nav class="navbar navbar-standard navbar-expand-lg fixed-top navbar-dark"
         data-navbar-darken-on-scroll="data-navbar-darken-on-scroll">
        <div class="container">
            <a class="navbar-brand">
                <div class="d-flex align-items-center">
                    <img class="me-2"
                         src="/static/img/beecore/beecore-logomark.png"
                         alt=""
                         width="30"/>
                    <span class="logo-text-landing">BeeCore</span>
                </div>
            </a>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarStandard" aria-controls="navbarStandard" aria-expanded="false"
                    aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse scrollbar" id="navbarStandard">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item d-flex align-items-center me-2">
                        <div class="dropdown theme-control-dropdown landing-drop"><a
                                class="nav-link d-flex align-items-center dropdown-toggle fa-icon-wait pe-1" href="#"
                                role="button" id="themeSwitchDropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false"><span class="d-none d-lg-block"><span class="fas fa-sun"
                                                                                            data-theme-dropdown-toggle-icon="light"></span><span
                                class="fas fa-moon" data-theme-dropdown-toggle-icon="dark"></span><span
                                class="fas fa-adjust" data-theme-dropdown-toggle-icon="auto"></span></span><span
                                class="d-lg-none">Switch theme</span></a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-caret border py-0 mt-1"
                                 aria-labelledby="themeSwitchDropdown">
                                <div class="bg-white dark__bg-1000 rounded-2 py-2">
                                    <button class="dropdown-item link-600 d-flex align-items-center gap-2" type="button"
                                            value="light" data-theme-control="theme"><span class="fas fa-sun"></span>Light<span
                                            class="fas fa-check dropdown-check-icon ms-auto text-600"></span></button>
                                    <button class="dropdown-item link-600 d-flex align-items-center gap-2" type="button"
                                            value="dark" data-theme-control="theme"><span class="fas fa-moon"
                                                                                          data-fa-transform=""></span>Dark<span
                                            class="fas fa-check dropdown-check-icon ms-auto text-600"></span></button>
                                    <button class="dropdown-item link-600 d-flex align-items-center gap-2" type="button"
                                            value="auto" data-theme-control="theme"><span class="fas fa-adjust"
                                                                                          data-fa-transform=""></span>Auto<span
                                            class="fas fa-check dropdown-check-icon ms-auto text-600"></span></button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Register</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 overflow-hidden" id="banner" data-bs-theme="light">

        <div class="bg-holder overlay"
             style="background-image:url(/static/img/generic/bg-1.jpg);background-position: center bottom;">
        </div>
        <!--/.bg-holder-->

        <div class="container">
            <div class="row flex-center pt-8 pt-lg-10 pb-lg-9 pb-xl-0">
                <div class="col-md-11 col-lg-8 col-xl-4 pb-7 pb-xl-9 text-center text-xl-start">
                    <h1 class="text-white fw-light">
                        Discover <span class="typed-text fw-bold"
                                       data-typed-text='["deals", "savings", "offers", "trends"]'></span><br/>
                        while you shop
                    </h1>
                    <p class="lead text-white opacity-75">With the power of BeeCore, you can now focus on finding the
                        best products, while we handle the perfect shopping experience for you!</p>
                    <a class="btn btn-outline-danger border-2 rounded-pill btn-lg mt-4 fs-9 py-2" href="/search">
                        <span class="me-2" role="img" aria-label="Gift">🎁</span>
                        Start shopping with BeeCore now!
                        <span class="fas fa-play ms-2" data-fa-transform="shrink-6 down-1"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-3 bg-body-tertiary shadow-sm">

        <div class="container">
            <div class="row flex-center">
                <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1">
                    <img class="landing-cta-img" height="40" src="/static/img/logos/b&amp;w/6.png" alt=""/>
                </div>
                <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1">
                    <img class="landing-cta-img" height="45" src="/static/img/logos/b&amp;w/11.png" alt=""/>
                </div>
                <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1">
                    <img class="landing-cta-img" height="30" src="/static/img/logos/b&amp;w/2.png" alt=""/>
                </div>
                <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1">
                    <img class="landing-cta-img" height="30" src="/static/img/logos/b&amp;w/4.png" alt=""/>
                </div>
                <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1">
                    <img class="landing-cta-img" height="35" src="/static/img/logos/b&amp;w/1.png" alt=""/>
                </div>
                <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1">
                    <img class="landing-cta-img" height="40" src="/static/img/logos/b&amp;w/10.png" alt=""/>
                </div>
                <div class="col-3 col-sm-auto my-1 my-sm-3 px-x1">
                    <img class="landing-cta-img" height="40" src="/static/img/logos/b&amp;w/12.png" alt=""/>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="bg-dark pt-8 pb-4" data-bs-theme="light">

        <div class="container">
            <div class="position-absolute btn-back-to-top bg-dark"><a class="text-600" href="#banner"
                                                                      data-bs-offset-top="0"><span
                    class="fas fa-chevron-up" data-fa-transform="rotate-45"></span></a></div>
            <div class="row">
                <div class="col-lg-4">
                    <h5 class="text-uppercase text-white opacity-85 mb-3">Our Mission</h5>
                    <p class="text-600">BeeCore enhances our online store with a sleek and seamless shopping experience.
                        Enjoy a rich, responsive design and effortlessly find the products you love. Shop with ease and
                        confidence,
                        knowing our platform is built for your convenience.</p>
                </div>
                <div class="col ps-lg-6 ps-xl-8">
                    <div class="row mt-5 mt-lg-0">
                        <div class="col-6 col-md-3">
                            <h5 class="text-uppercase text-white opacity-85 mb-3">Company</h5>
                            <ul class="list-unstyled">
                                <li class="mb-1"><a class="link-600" href="#!">About</a></li>
                                <li class="mb-1"><a class="link-600" href="#!">Contact</a></li>
                                <li class="mb-1"><a class="link-600" href="#!">Terms</a></li>
                                <li class="mb-1"><a class="link-600" href="#!">Privacy</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


    <!-- ============================================-->
    <!-- <section> begin ============================-->
    <section class="py-0 bg-dark" data-bs-theme="light">

        <div>
            <hr class="my-0 text-600 opacity-25"/>
            <div class="container py-3">
                <div class="row justify-content-between fs-10">
                    <div class="col-12 col-sm-auto text-center">
                        <p class="mb-0 text-600 opacity-85">Thank you for shopping with BeeCore <span
                                class="d-none d-sm-inline-block">| </span><br class="d-sm-none"/> 2024 &copy;
                            <a class="text-white opacity-85">V8TIX</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of .container-->

    </section>
    <!-- <section> close ============================-->
    <!-- ============================================-->


</main>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
{{end}}

