.logo-text {
    font-family: 'Roboto', sans-serif;
    color: #1D64ED;
}

.logo-text-landing {
    font-family: 'Roboto', sans-serif;
    color: #FBF6F3;
}

.logo-text-mobile {
    font-family: 'Roboto', sans-serif;
    color: #1D64ED;
    font-size: 14px;
}

